#hud {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.hud-section:not(.hidden) {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    font-size: var(--font-xs);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: var(--z-interactive);
}

/* Container for the lives counter displayed in the HUD */
#lives-counter:not(.hidden) {
    width: 245px;
    height: 85px;
    background-image: url(../img/hud/lives-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.game-life img {
    width: 40px;
}

#top-left-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hud-icon {
    height: 50px;
}

/* Game info display */
#game-info {
    background-color: #283749;
    flex-direction: column;
    width: 175px !important;
    border: 6px solid var(--primary);
}

/* Help button styling */
#help-button {
    border: 6px solid var(--orange-dark);
    background-color: var(--orange-bright);
}

#help-tooltip {
    background-color: var(--orange-dark);
}

/* Leaderboard button styling */
#lb-button {
    border: 6px solid var(--blue-dark);
    background-color: var(--blue-light);
}

#lb-tooltip {
    background-color: var(--blue-dark);
}

/* Pause game button styling */
#pause-game-button {
    border: 6px solid var(--yellow-dark);
    background-color: var(--yellow-bright);
}

#pause-game-tooltip {
    background-color: var(--yellow-dark);
}

/* Exit game button styling */
#exit-game-button {
    border: 6px solid var(--red-dark);
    background-color: var(--red-bright);
}

#exit-game-tooltip {
    background-color: var(--red-dark);
}

/* Skip round button styling */
#skip-round-button {
    border: 6px solid rgb(0, 96, 0);
    background-color: rgb(0, 192, 0);
}

#skip-round-tooltip {
    background-color: rgb(0, 96, 0);
}

.game-button.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.game-button.disabled:hover {
    scale: 1;
}

.tooltip {
    position: absolute;
    bottom: -55px;
    left: -5px;
    color: white;
    font-family: var(--secondary-font);
    font-size: var(--font-sm);
    padding: 10px 16px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

/* Show tooltip on hover */
.button:hover .tooltip {
    opacity: 1;
    visibility: visible;
}