.obstacle {
    pointer-events: none;
}

/* General styles for car obstacles */
.car-obstacle {
    position: absolute;
}

/* Specific car obstacle with ID car-0, positioned on the map */
#car-0 {
    top: 778px;
    left: 607px;
}

/* Image styling for the car obstacles */
.car-img {
    width: 35px;
    height: 70px;
}

.hitbox {
    position: absolute;
    top: 50%; /* Centers the hitbox vertically within the car */
    left: 50%; /* Centers the hitbox horizontally within the car */
    transform: translate(-50%, -50%); /* Shifts the hitbox so it's fully centered */
    background-color: rgba(255, 0, 0, 0.3); /* Semi-transparent red background */
    border: 1px solid var(--red-bright);
    visibility: hidden;
}

/* Hitbox for the car obstacles, slightly smaller than the car image */
.car-hitbox {
    width: 30px;
    height: 65px;
}

/* General styles for cone obstacles */
.cone-obstacle {
    position: absolute;
}

/* Specific cone obstacles with their respective positions */
#cone-0 {
    top: 535px;
    left: 290px;
}

#cone-1 {
    top: 790px;
    left: 475px;
}

/* Image styling for the cone obstacles */
.cone-img {
    width: 50px;
    height: 50px;
}

/* Hitbox for the cone obstacles, positioned relative to the cone image */
.cone-hitbox {
    width: 20px;
    height: 30px;
}

/* General styles for dumpster obstacles */
#dumpster-0 {
    top: 545px;
    left: 363px;
}

.dumpster-obstacle {
    position: absolute;
    transform: translate(-37px, -20px); /* Adjusts its position slightly */
}

/* Image styling for the dumpster obstacles */
.dumpster-img {
    width: 100px;
    height: 80px;
}

/* Hitbox for the dumpster obstacles, positioned relative to the dumpster image */
.dumpster-hitbox {
    width: 45px;
    height: 25px;
    top: 45%; /* Adjusted to position slightly below the center */
}