/* Game Background + Text */

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(65, 65,65) ;
}

/* Body Styling */
body {
    height: 100%;
    overflow: scroll;
    margin:0 auto; 
    padding:0;
}

#title{
    width: 100%;
    height: 10%;
    align-items: center;
    font-size: 10pt;
    font-family: "Anton", sans-serif;  
    justify-content: center;
    display: flex;
    margin-top: 12px;
}

/* Container */

#container{
    display:flex;
    width: 100%;
    height: 40%;
    justify-content:center;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    min-height: 450px;
    max-height: 40%;
    align-items: center;
   
}


#map-container {
    position: relative;
    background-image: url("../img/map/parkinglot.png");
    background-repeat: no-repeat;
    background-size:contain;
    justify-content: center;
    align-items: center;
    padding: 40%;
    height: 50%;
    width: 80%;
    z-index: 1;
    display:flex;
    border: 3px solid #000;
    
}
*/

#test{
    background-color: black;
    padding-top: 50px;
    width: 300px;
    height: 300px;
    justify-content: center;
    position: relative;
}
.bottom-page{
    position: relative;
    font-size: 10pt;
    font-family: "Anton", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    
}