/* Game Background + Text */

/* Body Styling */
body{
	margin:0;
}

/* Container */
#container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(65, 65, 65);
    text-align: center;
    position:relative;
    z-index: 1;
}

#heading {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 95px; /* Set the height to 150px */
    z-index: 2;
}
#project-title {
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 0;
    padding-top: 10px; /* Add some padding for better alignment */
}
#group-listing {
    font-family: "Silkscreen", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 0;
}

#window {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 50px;
    height: calc(100vh - 100px); /* Ensure it uses the full height minus the margins */
    overflow: hidden;
}


#scroll-window {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 1000px;
    min-height: 1000px; /* Ensures the container doesn't shrink below the image size */
    min-width: 1000px;
    border-radius: 5px;
    transform-origin: top left;
    border: 1px solid white;
    box-sizing: content-box;
    overflow: hidden;
    background-image: url(../img/parkinglot.png);
    background-size: contain;
    background-position: center;
}


#start-buttons div,
#game-buttons div,
#game-buttons button {
    width: 165px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    font-family: "Silkscreen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

#easy-mode-button {
    top: 565px;
    left: 620px;
    background-color: green;
    opacity:1;
}

#hard-mode-button {
    top: 630px;
    left: 620px;
    background-color: red;
    opacity:1;
}


/* Parking Spots  */


.spot{ /*class styling for all spots*/
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60px;
    height: 76px;
    opacity: 1;

 }
 
 
 /*Top Row Of spots*/
 #one{
    top: 186px;
    left: 186.5px ;
    /*opacity: 0.5;*/
 }
 #two{
    top: 186px;
    left: 249px;
     /*opacity: 0.5;*/
 }
 #three{
    top: 186px;
    left: 311.5px;
     /*opacity: 0.5;*/
 }
 #four{
    top: 186px;
    left: 374px;
     /*opacity: 0.5;*/
 }
 #five{
    top: 186px;
    left: 436.5px;
     /*opacity: 0.5;*/
 }
 
 
 #six{
    top: 186px;
    left: 499px;
     /*opacity: 0.5;*/
 }
 #seven{
    top: 186px;
    left: 561.5px;
    /*opacity: 0.5;*/
 }
 #eight{
    top: 186px;
    left: 624px;
     /*opacity: 0.5;*/
 }
 #nine{
    top: 186px;
    left: 686.5px;
    /*opacity: 0.5;*/
 }
 #ten{
    top: 186px;
    left: 749px;
     /*opacity: 0.5;*/
 }
 #eleven{
    top: 186px;
    width:62px;
    left:812.5px;
     /*opacity: 0.5;*/
 }
 
 /* Top Left side Parking Group */
 /* Top Row */
 #twelve{
    top: 314px;
    left: 251px;
     /*opacity: 0.5;*/
 }
 #thirteen{
    top: 314px;
    left: 313.5px;
     /*opacity: 0.5;*/
 }
 #fourteen{
    top: 314px;
    left: 376px;
    /*opacity: 0.5;*/
 }
 #fifteen{
    top: 314px;
    left: 438.5px;
     /*opacity: 0.5;*/
 }
 
 /* Bottom Row */
 #sixteen{
    top: 405px;
    left: 251px;
     /*opacity: 0.5;*/
 }
 #seventeen{
    top: 405px;
    left: 313.5px;
     /*opacity: 0.5;*/
 }
 #eighteen{
    top: 405px;
    left: 376px;
    /*opacity: 0.5;*/
 }
 #nineteen{
    top: 405px;
    left: 438.5px;
    /*opacity: 0.5;*/
 }
 
 /* Top Right side Parking Group */
 /* Top Row */
 #twenty{
    width:56px;
    top: 314px;
    left:566px;
     /*opacity: 0.5;*/
 }
 #twenty-one{
    top: 314px;
    left:626px;
    /*opacity: 0.5;*/
 }
 #twenty-two{
    top: 314px;
    left:688.5px;
    /*opacity: 0.5;*/
 }
 
 #twenty-three{
    top: 314px;
    left: 751px;
    /*opacity: 0.5;*/
 }

 /* Bottom Row */
 #twenty-four{
    width:56px;
    top: 405px;
    left:566px;
    /*opacity: 0.5;*/
 }
 #twenty-five{
    top: 405px;
    left:626px;
    /*opacity: 0.5;*/
 }
 #twenty-six{
    top: 405px;
    left:688.5px;
    /*opacity: 0.5;*/
 }
 #twenty-seven{
    top: 405px;
    left: 751px;
   /*opacity: 0.5;*/
 }
 
 /* Bottom Left Parking Group*/
 /* Top Row */
 #twenty-eight{
    top: 564px;
    left:251px;
   /*opacity: 0.5;*/
 }
 #twenty-nine{
    top: 564px;
    left:313.5px;
   /*opacity: 0.5;*/
 }
 #thirty{
    top: 564px;
    left:376px;
    /*opacity: 0.5;*/
 }
 #thirty-one{
    top: 564px;
    left:438.5px;
 /*opacity: 0.5;*/
 }
 #thirty-two{
    top: 564px;
    left:501px;

 /*opacity: 0.5;*/
 }
 
 /* Bottom Row*/
 /* These look kinda bad sorry */
 
 #thirty-three{
    width: 50px;
    height: 76px;
    top: 660px;
    left:240px;
   /*opacity: 0.5;*/
    rotate: 18deg;
 }
 
 
 #thirty-four{
    width: 50px;
    height: 76px;
    top: 660px;
    left:293px;
  /*opacity: 0.5;*/
    rotate: 18deg;
 }
 #thirty-five{
    width: 50px;
    height: 76px;
    top: 660px;
    left:344px;
    /*opacity: 0.5;*/
    rotate: 18deg;
 }
 #thirty-six{
    width: 50px;
    height: 76px;
    top: 660px;
    left:395px;
    /*opacity: 0.5;*/
    rotate: 18deg;
 }
 #thirty-seven{
    width: 50px;
    height: 76px;
    top: 660px;
    left:448px;
  /*opacity: 0.5;*/
    rotate: 18deg;
 }
 
 
 /* Right Side Bottom Parking Group */
 /* Left Side */
 #thirty-eight{
    top: 584.5px;
    left:590px;
    /*opacity: 0.5;*/
    rotate:90deg;
 }
 #thirty-nine{
    top: 647.5px;
    left:590px;
    /*opacity: 0.5;*/
    rotate:90deg;
 }
 
 /* Right Side */
 #fourty{
    top: 584.5px;
    left:680px;
  /*opacity: 0.5;*/
    rotate:90deg;
 }
 #fourty-one{
    top: 647.5px;
    left:680px;
    /*opacity: 0.5;*/
    rotate:90deg;
 }
 
 /* Bottom Row of parking */
 #fourty-two{
    top: 814px;
    left:374px;
    /*opacity: 0.5;*/
 }
 #fourty-three{
    top: 814px;
    left:436.5px;
   /*opacity: 0.5;*/
 }
 #fourty-four{
    top: 814px;
    left:499px;
    /*opacity: 0.5;*/
 }
 #fourty-five{
    top: 814px;
    left:561.5px;
   /*opacity: 0.5;*/
 }
 #fourty-six{
    top: 814px;
    left:624px;
  /*opacity: 0.5;*/
 }
 #fourty-seven{
    top: 814px;
    left:686.5px;
 /*opacity: 0.5;*/
 }
 #fourty-eight{
    top: 814px;
    left:749px;
 /*opacity: 0.5;*/
 }
 #fourty-nine{
    width:62px;
    top: 814px;
    left:812.5px;
 /*opacity: 0.5;*/
 }
 