/* Root styles */
:root {
    /* Font Sizes */
    --font-sm: 22px;
    --font-md: 34px;
    --font-lg: 48px;
    --font-xl: 80px;

    /* Z-indexes */
    --z-interactive: 10;
    --z-car: 100;
    --z-modal: 500;
    --z-overlay: 999;

    /* Colors */
    --primary-font: "Silkscreen", sans-serif;
    --secondary-font: "VT323", sans-serif;

    --primary: black;
    --secondary: white;

    --green-bright: rgb(0, 255, 0);
    --red-bright: rgb(255, 0, 0);
    --yellow-bright: rgb(192, 192, 0);
    --orange-bright: rgb(255, 128, 0);

    --green-dark: rgb(0, 128, 0);
    --red-dark: rgb(128, 0, 0);
    --yellow-dark: rgb(96, 96, 0);
    --orange-dark: rgb(128, 64, 0);

    --green-light: rgb(128, 255, 128);
    --red-light: rgb(255, 128, 128);
    --yellow-light: rgb(255, 255, 128);
    --orange-light: rgb(255, 192, 128);
}

/* Body Styling */
/* Reset margin to 0 to remove default spacing */
body {
    margin: 0;
    color: var(--secondary);
    font-family: var(--primary-font);
}

/* Container */
/* Main container for the game, ensuring full width and height */
#container {
    width: 100%;
    height: 100vh;
    overflow-y: auto; /* Allow vertical scroll if content exceeds height */
    background-color: var(--primary); /* previously rgb(65, 65, 65); */
    text-align: center; /* Center align text */
    position: relative;
}

/* Project title styling */
/* Applies font styling and alignment for the game title */
.text {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

#title {
    top: 190px;
    font-size: var(--font-xl);
    line-height: 1.1;
}

#subtitle {
    top: 410px;
    font-size: var(--font-md);
    color: var(--yellow-light);
    font-family: var(--secondary-font);
}

/* Game window container */
/* Defines the area where the game elements will be displayed */
#window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh; /* Fills available height */
    overflow: hidden; /* Ensures content does not overflow */
}

.siren {
    position: absolute;
    height: 90px;
    top: 326px;
}

#siren-1 {
    left: 250px;
}

#siren-2 {
    right: 250px;
}

/* Scrollable game window container */
/* Central game window with fixed size and background */
#scroll-window {
    position: relative;
    margin: auto;
    width: 1000px; /* Fixed size for the game window */
    height: 1000px;
    min-height: 1000px; /* Prevents shrinking below this size */
    min-width: 1000px;
    border-radius: 5px; /* Rounded corners */
    transform-origin: top left; /* Set the origin for scaling or transforms */
    border: 1px solid var(--secondary); /* White border around the game window */
    box-sizing: content-box;
    background-image: url(../img/starting-lot.png); /* Background image */
    background-size: contain;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Button styling for start and game buttons */
.start-button {
    width: 165px;
    height: 54px;
    font-size: var(--font-sm);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-interactive);
}

/* Animation: glowing red effect */
@keyframes glow-red {
    from {
        box-shadow: 0 0 3px 3px var(--red-light); /* Initial shadow */
    }
    to {
        box-shadow: 0 0 8px 8px var(--red-light); /* Final shadow */
    }
}

/* Animation: glowing green effect */
@keyframes glow-green {
    from {
        box-shadow: 0 0 3px 3px var(--green-light);
    }
    to {
        box-shadow: 0 0 8px 8px var(--green-light);
    }
}

/* Animation: glowing yellow effect */
@keyframes glow-yellow {
    from {
        box-shadow: 0 0 1px 1px var(--yellow-light);
    }
    to {
        box-shadow: 0 0 4px 4px var(--yellow-light);
    }
}

/* Easy mode button styling */
/* Adds glow and green color to the easy mode button */
#easy-mode-button {
    top: 563px;
    left: 620px;
    color: var(--green-light);
    animation: glow-green 0.7s infinite alternate; /* Green glow animation */
}

/* Hard mode button styling */
/* Adds glow and red color to the hard mode button */
#hard-mode-button {
    top: 630px;
    left: 620px;
    color: var(--red-light);
    animation: glow-red 0.7s infinite alternate; /* Red glow animation */
}

.selected#easy-mode-button {
    background-color: var(--green-dark) !important;
}

.selected#hard-mode-button {
    background-color: var(--red-dark) !important;
}

.hidden {
    display: none;
}

.spotlight {
    position: absolute; /* Position relative to the car div */
    top: 50%; /* Center the spotlight vertically */
    left: 50%; /* Center the spotlight horizontally */
    transform: translate(-50%, -50%); /* Offset by half of its size for perfect centering */
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7); /* Create a fake overlay effect */
    background-color: transparent; /* Semi-transparent red spotlight */
    z-index: var(--z-overlay);
    pointer-events: none; /* Ensure the spotlight does not interfere with pointer events */
}

#car-spotlight {
    width: 200px; /* Spotlight diameter */
    height: 200px; /* Spotlight diameter */
    border-radius: 50%; /* Make it a circle */
}

#subtitle-spotlight {
    width: 90%; /* Spotlight diameter */
    height: 100%; /* Spotlight diameter */
    padding: 20px;
}