#timer-display {
    position: absolute;
    top: 10px;
    left: 350px;
    font-size: 26px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: auto;
    min-width: 50px;
    height: auto;
    z-index: 5;
    visibility: hidden;
    font-family: "Silkscreen", sans-serif;
}

#mission-complete-message,
#mission-failed-message {
    display: none;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 480px; 
    left: 380px;
    z-index: 3;
}

#mission-complete-message {
    background-color: #00ff00;
    color: white;
}

#mission-failed-message {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

#level-display{
    position: absolute;
    top: 892px;
    left: 330px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.574);
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    height: 33px;
    z-index: 5;
    align-items: center;
    justify-self: center;
    visibility: hidden;
}