/* Message overlay, used for displaying game notifications */
#modal {
    padding: 20px 30px;
    border: 4px solid var(--primary);
    border-radius: 18px;
    background-color: rgb(0, 0, 0, 0.825);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%); /* Centers the message */
    z-index: var(--z-modal);
}

#modal-title {
    margin: 5px;
    font-size: var(--font-lg);
}

#modal-content {
    font-family: var(--secondary-font);
    font-size: var(--font-md);
    margin-top: 30px;
    padding: 10px 30px;
}

#modal-input {
    margin-top: 20px;
    margin-bottom: -20px;
}

#modal-input input {
    width: 70%;
    margin: 20px auto;
    padding: 18px 22px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: var(--primary);
    outline: none;
    color: var(--secondary);
    font-size: var(--font-md);
    font-family: var(--secondary-font);
}

#modal-buttons:not(.hidden) {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--font-xs);
    margin: 45px auto 25px auto;
    width: 460px;
}

.modal-button {
    width: 200px;
    padding: 18px 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px 3px var(--secondary);
}

.text-yellow {
    color: var(--yellow-light);
}

.text-green {
    color: var(--green-light);
}

.text-red {
    color: var(--red-light);
}

.btn-green {
    color: var(--green-light);
    box-shadow: 0 0 3px 3px var(--green-light);
}

.btn-green:focus {
    outline: none;
    animation: glow-green 0.7s infinite alternate;
}

.btn-red {
    color: var(--red-light);
    box-shadow: 0 0 3px 3px var(--red-light);
}

.btn-red:focus {
    outline: none;
    animation: glow-red 0.7s infinite alternate;
}

.btn-white {
    color: var(--secondary);
    box-shadow: 0 0 3px 3px var(--secondary);
}

.btn-white:focus {
    outline: none;
    animation: glow-white 0.7s infinite alternate;
}

.input-invalid:focus {
    border: 1px solid var(--red-light) !important;
}